# Fichiers de configuration privés
config.js
.env

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.temp

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MongoDB
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 